{% extends 'admin_base.html.twig' %}

{% block main %}
    <h1>EquipmentsMinusTwo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipments_minus_two in equipments_minus_twos %}
            <tr>
                <td>{{ equipments_minus_two.id }}</td>
                <td>{{ equipments_minus_two.name }}</td>
                <td>{{ equipments_minus_two.value }}</td>
                <td>
                    <a href="{{ path('app_equipments_minus_two_show', {'id': equipments_minus_two.id}) }}">show</a>
                    <a href="{{ path('app_equipments_minus_two_edit', {'id': equipments_minus_two.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_equipments_minus_two_new') }}">Create new</a>
{% endblock %}
