{% extends 'admin_base.html.twig' %}

{% block title %}Edit Entreprise{% endblock %}
{% block main %}

    <h1>Entreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entreprise.id }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ entreprise.logo }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entreprise.title }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ entreprise.website }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entreprise.description }}</td>
            </tr>
            <tr>
                <th>Company_name</th>
                <td>{{ entreprise.companyName }}</td>
            </tr>
            <tr>
                <th>Partner_from</th>
                <td>{{ entreprise.partnerFrom }}</td>
            </tr>
            <tr>
                <th>Creation_date</th>
                <td>{{ entreprise.creationDate }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ entreprise.region }}</td>
            </tr>
            <tr>
                <th>Margin_top</th>
                <td>{{ entreprise.marginTop }}</td>
            </tr>
            <tr>
                <th>Margin_left</th>
                <td>{{ entreprise.marginLeft }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_entreprise_index') }}">back to list</a>

    <a href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}">edit</a>

    {{ include('entreprise/_delete_form.html.twig') }}
{% endblock %}
