{% extends 'admin_base.html.twig' %}


{% block main %}
    <h1>WorkContact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mail</th>
                <th>Name</th>
                <th>Title</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work_contact in work_contacts %}
            <tr>
                <td>{{ work_contact.id }}</td>
                <td>{{ work_contact.mail }}</td>
                <td>{{ work_contact.name }}</td>
                <td>{{ work_contact.title }}</td>
                <td>{{ work_contact.telephone }}</td>
                <td>
                    <a href="{{ path('app_work_contact_show', {'id': work_contact.id}) }}">show</a>
                    <a href="{{ path('app_work_contact_edit', {'id': work_contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_work_contact_new') }}">Create new</a>
{% endblock %}
