{% extends 'admin_base.html.twig' %}
{% block main %}
	{# <h1>Edit ContactAgrometal</h1>
			
			    {{ include('entreprise/_form.html.twig', {
			        'button_label': 'Update',
			        'form_action': path('app_contact_agrometal_edit', {'id': contact_agrometal.id})
			    }) }}
			
			
			    <a href="{{ path('app_contact_agrometal_index') }}">back to list</a>
			
			    {{ include('contact_agrometal/_delete_form.html.twig') }} #}
	<div class="adminlogin-wrap">
		<div class="contactform-line"></div>
        {{ form_start(form) }}
		<div class="contactform-contentWrap">
			<div class="contactform-title">
				<h1>Entreprise contact</h1>
				<h3>Toutes les coordonnées de l'entreprise, avec les réseaux sociaux</h3>
			</div>
			<div class="adminform-input">
				{{ form_label(form.email, "E-Mail") }}
				{{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder': 'example@gmail.com'}}) }}
			</div>
			<div class="adminform-input">
				{{ form_label(form.telephone, "Téléphone") }}
				{{ form_widget(form.telephone, {'attr': {'class': 'form-control','placeholder': '+(36) 1 000 00 00'}}) }}
			</div>
			<div class="adminform-input">
				{{ form_label(form.adress_title, "Nom de l'adresse") }}
				{{ form_widget(form.adress_title, {'attr': {'class': 'form-control','placeholder': 'Agrometal inc.'}}) }}
			</div>
			<div class="adminform-input">
				{{ form_label(form.adress, "Adresse") }}
				{{ form_widget(form.adress, {'attr': {'class': 'form-control','placeholder': '64, avenue Gaston Boissier'}}) }}
			</div>
			<div class="adminform-doublewrap">
				<div class="contactform-input">
					{{ form_label(form.instagramActive, "Actif", {'label_attr': {'class': 'form-check-label'}}) }}
					<div class="contactform-checkbox">
						{{ form_widget(form.instagramActive, {'attr': {'class': 'form-check-input'}}) }}
					</div>
				</div>
				<div class="adminform-input" style="flex:1;">
					{{ form_label(form.instagram) }}
					{{ form_widget(form.instagram, {'attr': {'class': 'form-control','placeholder': 'https://instagram.com/'}}) }}
				</div>
			</div>
			<div class="adminform-doublewrap">
				<div class="contactform-input">
					{{ form_label(form.linkedinActive, "Actif", {'label_attr': {'class': 'form-check-label'}}) }}
					<div class="contactform-checkbox">
						{{ form_widget(form.linkedinActive, {'attr': {'class': 'form-check-input'}}) }}
					</div>
				</div>
				<div class="adminform-input" style="flex:1;">
					{{ form_label(form.linkedin) }}
					{{ form_widget(form.linkedin, {'attr': {'class': 'form-control','placeholder': 'https://linkedin.com/'}}) }}
				</div>
			</div>
			<div class="adminform-doublewrap">
				<div class="contactform-input">
					{{ form_label(form.facebookActive, "Actif", {'label_attr': {'class': 'form-check-label'}}) }}
					<div class="contactform-checkbox">
						{{ form_widget(form.facebookActive, {'attr': {'class': 'form-check-input'}}) }}
					</div>
				</div>
				<div class="adminform-input" style="flex: 1;">
					{{ form_label(form.facebook) }}
					{{ form_widget(form.facebook, {'attr': {'class': 'form-control','placeholder': 'https://facebook.com/'}}) }}
				</div>
			</div>
			<div class="adminbase-categorywrap">
				<button class="adminbase-categorybtn hover-btn" type="submit">Confirmer les modifications</button>
				<!-- HERE -->
				{% if app.request.headers.get('referer') %}
					<a class="adminbase-categorybtn hover-btn" href="{{ app.request.headers.get('referer') }}">Retour</a>
				{% endif %}
			</div>
		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}
