



{% block body %}
    <h1>Contact d'Agrometal</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Lieu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact_agrometal in contact_agrometals %}
            <tr>
                <td>{{ contact_agrometal.id }}</td>
                <td>{{ contact_agrometal.email }}</td>
                <td>{{ contact_agrometal.adress }}</td>
                <td>{{ contact_agrometal.telephone }}</td>
                <td>{{ contact_agrometal.adressTitle }}</td>
                <td>
                    <a href="{{ path('app_contact_agrometal_show', {'id': contact_agrometal.id}) }}">show</a>
                    <a href="{{ path('app_contact_agrometal_edit', {'id': contact_agrometal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contact_agrometal_new') }}">Create new</a>
    <a href="/adminpanel/socialmedia">Modifier les réseaux sociaux des contacts</a>
{% endblock %}
