<footer>
    <div class="optimization-box-1440 footer-wrap">
        <img src="images/brand/logo.png" alt="Logo">
        <div class="footer-category-wrap">
            <div class="footer-category-line">
                <a href="#" class="hover-opacity">
                    <h3>Contacts</h3>
                </a>
                <ul>
                    <li>Tél: {{ contact_bdd[0].telephone }}</li>
                    <li>E-Mail: {{ contact_bdd[0].email }}</li>
                    <li>Adress: {{ contact_bdd[0].adress }}</li>
                </ul>
            </div>
            <div class="footer-category-line">
                <a href="#" class="hover-opacity"><h3>Equipement</h3></a>
                <ul>
                    {% for item in equipments_bdd %}
                        {% if item.preview %}
                            <a href='#'><li class='capitaliste hover-opacity'>{{ item.title }}</li></a>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="footer-category-line">
                <h3>Contacter</h3>
                <ul>
                    <li>Nouveau projet</li>
                    <li>Expansion de la production</li>
                </ul>
            </div>
        </div>
        <div class="footer-socialmedia-wrap">
            {% for item in socialmedia_bdd %}
                {% if item.contact.id == 2 and item.active %}
                    {% set asset_location = 'images/social_media/' ~ item.image %}
                    <a href='{{ item.link }}'><img src='{{ asset(asset_location) }}' alt='{{ item.title }}'></a>
                {% endif %}
            {% endfor %}
            <a href='mailto:{{ contact_bdd[0].email }}'><img width='50px' height='50px' src='{{ asset('images/social_media/mail.svg') }}' alt='Envoyer un courrier'></a>
        </div>
    </div>
    <div class="footer-credits">
        <div class="optimization-box-1440" style="justify-content: right;">
            <p>Turnkey website by <a class="hover-opacity" href="https://pev-works.com/">pev-works.com</a></p>
        </div>
    </div>
</footer>