<footer>
    <div class="optimization-box-1440 footer-wrap">
        <img src="images/brand/logo.png" alt="Logo">
        <div class="footer-category-wrap">
            <div class="footer-category-line">
                <a href="#" class="hover-opacity">
                    <h3>Contacts</h3>
                </a>
                <ul>
                    <li>Tél: {{ work_contact_bdd[0].telephone }}</li>
                    <li>E-Mail: {{ work_contact_bdd[0].mail }}</li>
                    <li>Adress: {{ contact_bdd[0].adress }}</li>
                </ul>
            </div>
            <div class="footer-category-line">
                <a href="{{ path('equipment') }}" class="hover-opacity"><h3>Equipement</h3></a>
                <ul>
                    {% for item in equipments_bdd %}
                        {% if item.preview %}
                            <a href="{{ path('equipment') }}#{{ item.title }}"><li class='capitaliste hover-opacity'>{{ item.title }}</li></a>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="footer-category-line">
                <a href="{{ path('contacts') }}" ><h3>Contacter</h3></a>
                <ul>
                    <a onclick="swithContactFormStatus()" class="hover-opacity"><li>Nouveau projet</li></a>
                    <a onclick="swithContactFormStatus()" class="hover-opacity"><li>Expansion de la production</li></a>
                </ul>
            </div>
        </div>
        <div class="footer-socialmedia-wrap">
                {% set asset_location = 'images/social_media/' %}
                {% if contact_bdd[0].instagramActive %}
                    {% set image_socialmedia = asset_location ~ "instagram.svg" %}
                    <a href='{{ contact_bdd[0].instagram }}'><img src='{{ asset(image_socialmedia) }}' alt='Instagram link'></a>
                {% endif %}
                {% if contact_bdd[0].linkedinActive %}
                    {% set image_socialmedia = asset_location ~ "linkedin.svg" %}
                    <a href='{{ contact_bdd[0].linkedin }}'><img src='{{ asset(image_socialmedia) }}' alt='LinkedIn link'></a>
                {% endif %}
                {% if contact_bdd[0].facebookActive %}
                    {% set image_socialmedia = asset_location ~ "facebook.svg" %}
                    <a href='{{ contact_bdd[0].facebook }}'><img src='{{ asset(image_socialmedia) }}' alt='Facebook link'></a>
                {% endif %}
            <a href='mailto:{{ work_contact_bdd[0].mail }}'><img width='50px' height='50px' src='{{ asset('images/social_media/mail.svg') }}' alt='Envoyer un courrier'></a>
        </div>
    </div>
    <div class="footer-credits">
        <div class="optimization-box-1440" style="justify-content: right;">
            <p>Turnkey website by <a class="hover-opacity" href="https://pev-works.com/">pev-works.com</a></p>
        </div>
    </div>
</footer>