{# {% verbatim %} #}
<div class="news-wrap">
    <div class="news-content">
        <div class="news-title">
            <h2>Dernières nouvelles</h2>
            <div class="news-eventname">
                <h3>{{ news_bdd[0].title }}</h3>
                <p>{{ news_bdd[0].date }}</p>
            </div>
        </div>
        <div class="news-description">
            <p class="news-description-text">{{ news_bdd[0].description }}</p>
            <div class="news-chiffres">
                {% for item in news_number_bdd %}
                    {% if item.active %}
                        <div class="chiffres-element white">
                            <h4>{{ item.number }}</h4>
                            <p>{{ item.titleNumber|raw}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>  
        </div>
    </div>
</div>
{# {% endverbatim %} #}