{% extends 'admin_base.html.twig' %}

{% block main %}
    <h1>PointCarte index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Region</th>
                <th>Margin_top</th>
                <th>Margin_left</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for point_carte in point_cartes %}
            <tr>
                <td>{{ point_carte.id }}</td>
                <td>{{ point_carte.region }}</td>
                <td>{{ point_carte.marginTop }}</td>
                <td>{{ point_carte.marginLeft }}</td>
                <td>
                    <a href="{{ path('app_point_carte_show', {'id': point_carte.id}) }}">show</a>
                    <a href="{{ path('app_point_carte_edit', {'id': point_carte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_point_carte_new') }}">Create new</a>
{% endblock %}
